<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		
		<add name="DevConn" connectionString="Data Source=.;Initial Catalog=KingsHillMarina;Persist Security Info=True;User ID=ikoomson;Password=D3vSupp5!" providerName="System.Data.SqlClient" />

	</connectionStrings>

	<appSettings>
		<add key="DatabaseConnection" value="DevConn" />
	</appSettings>
	
	
	
</configuration>